/* 

User Story #14: My product landing page should have at least one media query. */

:root {
  --padding: 0.5rem;
  --font-head: 1.2rem;
  --font-menu: 1rem;

  /* color */
  --text-color: white;
  /* --back-color: #46415f; */
  --back-color: rgba(97, 204, 181, 1);
  --logo-color: #ffcccc;
  --mint-color: rgba(97, 204, 181, 0.746);
  --grey-color: rgb(88, 88, 88);
  --light-grey-color: rgb(148, 148, 148);
  --white-color: rgb(235, 235, 235);
}

*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--white-color);
  margin: 0 auto;
}

section {
  padding: 40px 50px 40px 50px;
  text-align: center;
  border-bottom: solid var(--light-grey-color) 1px;
  width: 70%;
}

#cat_info {
  margin-top: 60px;
}

header {
  background-color: var(--back-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  position: fixed;
  top: 0;
  height: 50px;
}

.logo {
  display: flex;
  color: var(--logo-color);
  align-items: center;
  padding-left: calc(var(--padding) * 2);
  font-size: var(--font-head);
}

#header-img {
  font-size: var(--font-head);
  color: var(--logo-color);
  padding-right: var(--padding);
}

#nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-right: calc(var(--padding) * 3);
}

#nav-bar ul li {
  padding-left: calc(var(--padding) * 2);
  font-size: var(--font-menu);
}

a {
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}

/* form */

form {
  width: 100%;
  /* background-color: grey; */
  text-align: center;
  font-size: var(--font-menu);
  font-style: italic;
  padding: 2rem;
}

form p {
  color: var(--grey-color);
}

#controls {
  width: 300px;
  margin: 10px;
  padding: 0 0 0 20px;
  background-color: var(--logo-color);
}

#submit {
  width: 80px;
}

form input {
  height: 37px;
  border-radius: 7px;
  border: none;
  background-color: var(--logo-color);
}

/* CAT */

iframe {
  max-width: 560px;
  width: 100%;
}

/* PRICING */

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  width: 90%;
  /* justify-content: space-around; */
}

.prc {
  margin: 10px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.404);
}

.prc > .level {
  font-weight: bolder;
  color: black;
  font-size: calc(var(--font-head));
  padding: 15px 0;
  background-color: var(--mint-color);
  width: 100%;
}

.prc h2 {
  color: rgb(85, 85, 85);
  font-style: italic;
  font-size: var(--font-menu);
}

.prc li {
  font-size: calc(var(--font-menu) * 0.8);
  text-align: left;
  color: rgb(88, 88, 88);
  list-style: none;
  margin-top: 10px;
}

#daily {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 25%;
  border: var(--grey-color) solid 1px;
  max-width: 250px;
}

#three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 25%;
  border: var(--grey-color) solid 1px;
  max-width: 250px;
}

#seven {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 25%;
  border: var(--grey-color) solid 1px;
  max-width: 250px;
}

#price_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: var(--mint-color);
  color: white;
  font-size: 15px;
  font-weight: lighter;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  border: none;
  color: var(--logo-color);
  background-color: var(--back-color);
  outline: none;
}

/* footer */
footer {
  background-color: var(--back-color);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.678);
  font-size: calc(var(--font-menu) / 1.3);
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 0;
}

.more_info li {
  list-style-type: none;
  display: flex;
  font-display: row;
  align-items: right;
}

@media screen and (max-width: 768px) {
  #nav-bar ul {
    flex-direction: column;
  }

  .pricing {
    flex-direction: column;

    section {
      width: 90%;
    }
  }
}
